<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="author" content="" />
    <link href="{{ '/img/favicon.ico' | relative_url }}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/skin1.css" type="text/css" media="all" />
	 <link rel="stylesheet" href="assets/css/skin.css" type="text/css" media="all" />
</head>

<body>
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
    
   <script src="assets/js/script.js"></script>
</body>

</html>

